:root {
	--color-text-primary: #031728;
	--color-text-secondary: #103756;
	--color-text-white: #FCFEFF;

	--hover: #046CC2;
	--accent-main: #3092E3;
	--accent-secondary: #44D324;
	--disabled: #505A62;

	--background-primary: #fafcfb;
	--background-header: #f7f7f7;

	--blue-light: #ECF6FD;
	--blue-mint: #EDFBEE;

	--font-family-base: 'Montserrat', sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
}


ul,
li {
	list-style: none;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.mainWrapper {
	font-family: var(--font-family-base);
	line-height: 1.3;
	color: var(--color-text-primary);
	background-color: var(--background-primary);
}