.aboutUs {
	padding-top: 120px;

	.title {
		margin-bottom: 40px;
	}

	.bottomBlock {
		display: flex;
		column-gap: 40px;
		align-items: center;
		justify-content: space-between;

		.text {
			line-height: 1.5;

			.accent {
				font-weight: 500;
				color: var(--accent-main);
			}
		}
	}

}